.SignupPage-Container {
  height: 85.65vh;
}

.SignupPage-Space {
  width: 940px;
  margin: 0 auto;
}

.AA {
  padding: 50px;
  min-height: 600px;
  max-width: 700px;
}

.SignupPage-Error {
  border: 2px solid #b44040;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 10px;
  background-color: rgb(35, 27, 19);
}

.SignupPage-Form {
  padding: 20px 16px;
}

.SignupPage-Form-Title {
  text-transform: uppercase;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 34px;
  color: #ffffff;
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 30px;
}

.SignupPage-Form-Input {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin-bottom: 25px;
}

.SignupPage-Form-Input label {
  font-size: 14px;
  color: #b8b6b4;
  margin-bottom: 5px;
}

.SignupPage-Form-Input input,
.SignupPage-Form-Input select {
  background: #32353c;
  border-radius: 3px;
  color: #e9e9e9;
  padding: 8px 6px;
  display: block;
  box-shadow: none;
  border: none;
  width: 100%;
  transition: border ease-in-out 0.5s;
  font-weight: normal;
}

.SignupPage-Form-Check {
  font-size: 14px;
  color: #b8b6b4;
  margin-bottom: 25px;
}

.SignupPage-Form-Check input {
  width: 18px;
  height: 18px;
  background: #32353c;
}

.SignupPage-Form-Check a {
  color: #ffffff;
}

#continueButton {
  width: 20%;
  border-radius: 2px;
  border: none;
  cursor: pointer;
  background: linear-gradient(to right, #47bfff 5%, #1a44c2 60%);
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
  color: #c3e1f8;
  background-size: 330% 100%;
  background-position: 25%;
  font-size: 15px;
  height: 36px;
}
